In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Step 1: Send a request to the webpage
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'
response = requests.get(url)
response.raise_for_status()  # Check if the request was successful

# Step 2: Parse the webpage content
soup = BeautifulSoup(response.text, 'html.parser')

# Step 3: Locate the table and extract data
table = soup.find('table', {'class': 'wikitable'})

# Define the headers manually based on the provided image
headers = [
    "Rank", "Country/Territory", "IMF Forecast", "IMF Year",
    "World Bank Estimate", "World Bank Year",
    "United Nations Estimate", "United Nations Year"
]
print(f"Headers: {headers}")

# Extract rows
rows = []
for row in table.find_all('tr')[1:]:  # Skip the header row
    cells = row.find_all('td')
    if len(cells) > 0:  # Ensure the row has cells
        row_data = [cell.text.strip() for cell in cells]
        rows.append(row_data)

# Debugging: Check the number of rows and their lengths
print(f"Number of rows extracted: {len(rows)}")
for index, row in enumerate(rows):
    print(f"Row {index} has {len(row)} columns: {row}")

# Adjust headers if they don't match the number of columns in the data rows
# Check the number of columns in the rows
num_columns = len(rows[0])
if len(headers) > num_columns:
    # If there are more headers than columns, adjust the headers
    headers = headers[:num_columns]

# Step 4: Create a DataFrame and display the first 10 rows
if rows:
    df = pd.DataFrame(rows, columns=headers)  # Match length of headers to data
    print("First 10 rows of the data:")
    print(df.head(10))  # Print the DataFrame to check the content
else:
    print("No data rows were found.")

# Step 5: Save the data to a CSV file
csv_file_path = 'CSC221_webscrape_data.csv'
df.to_csv(csv_file_path, index=False)

print(f"Data has been saved to {csv_file_path}")

Headers: ['Rank', 'Country/Territory', 'IMF Forecast', 'IMF Year', 'World Bank Estimate', 'World Bank Year', 'United Nations Estimate', 'United Nations Year']
Number of rows extracted: 210
Row 0 has 7 columns: ['World', '109,529,216', '2024', '105,435,540', '2023', '100,834,796', '2022']
Row 1 has 7 columns: ['United States', '28,781,083', '2024', '27,360,935', '2023', '25,744,100', '2022']
Row 2 has 7 columns: ['China', '18,532,633', '[n 1]2024', '17,794,782', '[n 3]2023', '17,963,170', '[n 1]2022']
Row 3 has 7 columns: ['Germany', '4,591,100', '2024', '4,456,081', '2023', '4,076,923', '2022']
Row 4 has 7 columns: ['Japan', '4,110,452', '2024', '4,212,945', '2023', '4,232,173', '2022']
Row 5 has 7 columns: ['India', '3,937,011', '2024', '3,549,919', '2023', '3,465,541', '2022']
Row 6 has 7 columns: ['United Kingdom', '3,495,261', '2024', '3,340,032', '2023', '3,089,072', '2022']
Row 7 has 7 columns: ['France', '3,130,014', '2024', '3,030,904', '2023', '2,775,316', '2022']
Row 8 has 7 columns: ['Brazil', '2,331,391', '2024', '2,173,666', '2023', '1,920,095', '2022']
Row 9 has 7 columns: ['Italy', '2,328,028', '2024', '2,254,851', '2023', '2,046,952', '2022']
Row 10 has 7 columns: ['Canada', '2,242,182', '2024', '2,140,086', '2023', '2,137,939', '2022']
Row 11 has 7 columns: ['Russia', '2,056,844', '2024', '2,021,421', '2023', '2,240,422', '2022']
Row 12 has 7 columns: ['Mexico', '2,017,025', '2024', '1,788,887', '2023', '1,463,323', '2022']
Row 13 has 7 columns: ['Australia', '1,790,348', '2024', '1,723,827', '2023', '1,776,577', '2022']
Row 14 has 7 columns: ['South Korea', '1,760,947', '2024', '1,712,793', '2023', '1,673,916', '2022']
Row 15 has 7 columns: ['Spain', '1,647,114', '2024', '1,580,695', '2023', '1,415,874', '2022']
Row 16 has 7 columns: ['Indonesia', '1,475,690', '2024', '1,371,171', '2023', '1,319,100', '2022']
Row 17 has 7 columns: ['Netherlands', '1,142,513', '2024', '1,118,125', '2023', '1,008,027', '2022']
Row 18 has 7 columns: ['Turkey', '1,113,561', '2024', '1,108,022', '2023', '907,118', '2022']
Row 19 has 7 columns: ['Saudi Arabia', '1,106,015', '2024', '1,067,583', '2023', '1,108,148', '2022']
Row 20 has 7 columns: ['Switzerland', '938,458', '2024', '884,940', '2023', '818,426', '2022']
Row 21 has 7 columns: ['Poland', '844,623', '2024', '811,229', '2023', '688,125', '2022']
Row 22 has 5 columns: ['Taiwan', '802,958', '[n 4]2024', '—', '—']
Row 23 has 7 columns: ['Belgium', '655,192', '2024', '632,217', '2023', '582,643', '2022']
Row 24 has 7 columns: ['Sweden', '623,048', '2024', '593,268', '2023', '591,188', '2022']
Row 25 has 7 columns: ['Argentina', '604,260', '2024', '640,591', '2023', '631,133', '2022']
Row 26 has 7 columns: ['Ireland', '564,020', '2024', '545,629', '2023', '532,415', '2022']
Row 27 has 7 columns: ['Thailand', '548,890', '2024', '514,945', '2023', '495,340', '2022']
Row 28 has 7 columns: ['Austria', '540,887', '2024', '516,034', '2023', '470,302', '2022']
Row 29 has 7 columns: ['Israel', '530,664', '2024', '509,902', '2023', '525,002', '2022']
Row 30 has 7 columns: ['United Arab Emirates', '527,796', '2024', '504,173', '2023', '507,063', '2022']
Row 31 has 7 columns: ['Norway', '526,951', '2024', '485,513', '2023', '579,422', '2022']
Row 32 has 7 columns: ['Singapore', '525,228', '2024', '501,428', '2023', '466,788', '2022']
Row 33 has 7 columns: ['Philippines', '471,516', '2024', '437,146', '2023', '404,284', '2022']
Row 34 has 7 columns: ['Vietnam', '465,814', '2024', '429,717', '2023', '408,802', '2022']
Row 35 has 7 columns: ['Iran', '464,181', '2024', '401,505', '2023', '398,047', '2022']
Row 36 has 7 columns: ['Bangladesh', '455,162', '2024', '437,415', '2023', '432,677', '2022']
Row 37 has 7 columns: ['Malaysia', '445,519', '2024', '399,649', '2023', '406,305', '2022']
Row 38 has 7 columns: ['Denmark', '409,989', '2024', '404,199', '2023', '400,167', '2022']
Row 39 has 7 columns: ['Hong Kong', '406,775', '[n 5]2024', '382,055', '2023', '359,838', '2022']
Row 40 has 7 columns: ['Colombia', '386,076', '2024', '363,540', '2023', '343,939', '2022']
Row 41 has 7 columns: ['South Africa', '373,233', '2024', '377,782', '2023', '405,270', '2022']
Row 42 has 7 columns: ['Romania', '369,971', '2024', '351,003', '2023', '300,690', '2022']
Row 43 has 7 columns: ['Egypt', '347,594', '2024', '395,926', '2023', '409,306', '2022']
Row 44 has 7 columns: ['Pakistan', '338,237', '2023', '338,368', '2023', '326,796', '2022']
Row 45 has 7 columns: ['Chile', '333,760', '2024', '335,533', '2023', '300,686', '2022']
Row 46 has 7 columns: ['Czech Republic', '325,880', '2024', '330,858', '2023', '290,527', '2022']
Row 47 has 7 columns: ['Finland', '308,055', '2024', '300,187', '2023', '282,511', '2022']
Row 48 has 7 columns: ['Portugal', '298,949', '2024', '287,080', '2023', '254,849', '2022']
Row 49 has 7 columns: ['Kazakhstan', '296,740', '2024', '261,421', '2023', '225,496', '2022']
Row 50 has 7 columns: ['Peru', '282,458', '2024', '267,603', '2023', '242,631', '2022']
Row 51 has 7 columns: ['Algeria', '266,780', '2024', '239,899', '2023', '191,912', '2022']
Row 52 has 7 columns: ['Iraq', '265,894', '2024', '250,843', '2023', '264,182', '2022']
Row 53 has 7 columns: ['New Zealand', '257,625', '2024', '253,466', '2023', '245,845', '2022']
Row 54 has 7 columns: ['Nigeria', '252,738', '2024', '362,815', '2023', '475,058', '2022']
Row 55 has 7 columns: ['Greece', '250,276', '2024', '238,206', '2023', '217,285', '2022']
Row 56 has 7 columns: ['Qatar', '244,686', '2024', '235,770', '2022', '237,101', '2022']
Row 57 has 7 columns: ['Hungary', '223,413', '2024', '212,389', '2023', '177,337', '2022']
Row 58 has 7 columns: ['Ethiopia', '205,130', '2024', '163,698', '2023', '118,971', '2022']
Row 59 has 7 columns: ['Ukraine', '188,943', '[n 6]2024', '178,757', '[n 6]2023', '160,502', '[n 6]2022']
Row 60 has 7 columns: ['Kuwait', '160,397', '2024', '161,772', '2023', '175,363', '2022']
Row 61 has 7 columns: ['Morocco', '152,377', '2024', '141,109', '2023', '130,912', '[n 7]2022']
Row 62 has 5 columns: ['Cuba', '—', '—', '147,193', '2022']
Row 63 has 7 columns: ['Slovakia', '140,808', '2024', '132,794', '2023', '115,304', '2022']
Row 64 has 7 columns: ['Dominican Republic', '127,356', '2024', '121,444', '2023', '113,537', '2022']
Row 65 has 7 columns: ['Ecuador', '121,592', '2024', '118,845', '2023', '115,049', '2022']
Row 66 has 7 columns: ['Puerto Rico', '117,763', '2024', '117,902', '2023', '113,434', '2022']
Row 67 has 7 columns: ['Guatemala', '110,035', '2024', '102,050', '2023', '95,003', '2022']
Row 68 has 7 columns: ['Oman', '108,927', '2024', '108,192', '2023', '114,666', '2022']
Row 69 has 7 columns: ['Bulgaria', '107,933', '2024', '101,584', '2023', '90,213', '2022']
Row 70 has 7 columns: ['Kenya', '104,001', '2024', '107,441', '2023', '113,419', '2022']
Row 71 has 6 columns: ['Venezuela', '102,328', '2024', '—', '129,313', '2022']
Row 72 has 7 columns: ['Uzbekistan', '97,956', '2024', '90,889', '2023', '80,391', '2022']
Row 73 has 7 columns: ['Costa Rica', '96,058', '2024', '86,498', '2023', '68,380', '2022']
Row 74 has 7 columns: ['Angola', '92,123', '2024', '84,773', '2023', '113,304', '2022']
Row 75 has 7 columns: ['Luxembourg', '88,556', '2024', '85,755', '2023', '81,530', '2022']
Row 76 has 7 columns: ['Croatia', '88,076', '2024', '82,689', '2023', '71,552', '2022']
Row 77 has 7 columns: ['Panama', '87,347', '2024', '83,382', '2023', '76,522', '2022']
Row 78 has 7 columns: ['Ivory Coast', '86,911', '2024', '78,789', '2023', '70,018', '2022']
Row 79 has 7 columns: ['Uruguay', '82,605', '2024', '77,241', '2023', '71,171', '2022']
Row 80 has 7 columns: ['Turkmenistan', '81,896', '2024', '59,887', '2023', '67,009', '2022']
Row 81 has 7 columns: ['Serbia', '81,873', '2024', '75,187', '2023', '63,563', '2022']
Row 82 has 7 columns: ['Lithuania', '81,170', '2024', '77,836', '2023', '70,878', '2022']
Row 83 has 7 columns: ['Tanzania', '79,605', '2024', '79,158', '2023', '73,535', '[n 8]2022']
Row 84 has 7 columns: ['Azerbaijan', '78,749', '2024', '72,356', '2023', '78,721', '2022']
Row 85 has 7 columns: ['Ghana', '75,244', '2024', '76,370', '2023', '73,766', '2022']
Row 86 has 7 columns: ['Sri Lanka', '74,846', '2022', '84,357', '2023', '76,187', '2022']
Row 87 has 7 columns: ['DR Congo', '73,761', '2024', '66,383', '2023', '62,551', '2022']
Row 88 has 7 columns: ['Slovenia', '72,101', '2024', '68,217', '2023', '59,981', '2022']
Row 89 has 7 columns: ['Belarus', '69,048', '2024', '71,857', '2023', '72,873', '2022']
Row 90 has 7 columns: ['Myanmar', '68,006', '2024', '64,815', '2023', '65,211', '2022']
Row 91 has 7 columns: ['Uganda', '56,310', '2024', '49,273', '2023', '48,243', '2022']
Row 92 has 7 columns: ['Tunisia', '54,708', '2024', '48,530', '2023', '46,181', '2022']
Row 93 has 7 columns: ['Macau', '54,677', '[n 9]2024', '47,062', '2023', '24,042', '2022']
Row 94 has 7 columns: ['Jordan', '53,570', '2024', '50,814', '2023', '47,452', '2022']
Row 95 has 7 columns: ['Cameroon', '53,205', '2024', '47,946', '2023', '44,341', '2022']
Row 96 has 7 columns: ['Bolivia', '49,334', '2024', '45,850', '2023', '44,008', '2022']
Row 97 has 7 columns: ['Libya', '48,221', '2024', '50,492', '2023', '40,537', '2022']
Row 98 has 7 columns: ['Bahrain', '46,790', '2024', '43,205', '2023', '44,382', '2022']
Row 99 has 7 columns: ['Paraguay', '45,817', '2024', '42,956', '2023', '41,722', '2022']
Row 100 has 7 columns: ['Latvia', '45,466', '2024', '43,627', '2023', '40,876', '2022']
Row 101 has 7 columns: ['Cambodia', '45,150', '2024', '31,773', '2023', '29,504', '2022']
Row 102 has 7 columns: ['Nepal', '44,179', '2024', '40,908', '2023', '39,406', '2022']
Row 103 has 7 columns: ['Estonia', '43,486', '2024', '40,745', '2023', '38,049', '2022']
Row 104 has 7 columns: ['Honduras', '37,355', '2024', '34,401', '2023', '31,717', '2022']
Row 105 has 7 columns: ['Senegal', '35,450', '2024', '31,014', '2023', '27,775', '2022']
Row 106 has 7 columns: ['El Salvador', '35,333', '2024', '34,016', '2023', '32,488', '2022']
Row 107 has 7 columns: ['Zimbabwe', '34,405', '2024', '26,538', '2023', '26,418', '2022']
Row 108 has 7 columns: ['Cyprus', '34,221', '[n 10]2024', '32,230', '[n 10]2023', '29,210', '[n 10]2022']
Row 109 has 7 columns: ['Iceland', '33,338', '2024', '31,020', '2023', '28,064', '2022']
Row 110 has 7 columns: ['Georgia', '32,865', '[n 11]2024', '30,536', '[n 11]2023', '24,605', '[n 11]2022']
Row 111 has 7 columns: ['Papua New Guinea', '31,716', '2024', '30,933', '2022', '31,609', '2022']
Row 112 has 7 columns: ['Zambia', '29,872', '2024', '28,163', '2023', '29,136', '2022']
Row 113 has 7 columns: ['Bosnia and Herzegovina', '29,078', '2024', '27,055', '2023', '24,473', '2022']
Row 114 has 7 columns: ['Trinidad and Tobago', '28,365', '2024', '28,140', '2023', '30,053', '2022']
Row 115 has 7 columns: ['Sudan', '26,865', '2024', '109,327', '2023', '36,729', '2022']
Row 116 has 7 columns: ['Guinea', '25,447', '2024', '23,612', '2023', '20,846', '2022']
Row 117 has 7 columns: ['Albania', '25,431', '2024', '22,978', '2023', '18,916', '2022']
Row 118 has 7 columns: ['Armenia', '25,408', '2024', '24,212', '2023', '19,513', '2022']
Row 119 has 7 columns: ['Haiti', '24,046', '2024', '19,851', '2023', '18,751', '2022']
Row 120 has 7 columns: ['Mozambique', '22,975', '2024', '20,625', '2023', '18,406', '2022']
Row 121 has 7 columns: ['Malta', '22,737', '2024', '20,957', '2023', '18,100', '2022']
Row 122 has 7 columns: ['Mongolia', '21,943', '2024', '19,872', '2023', '17,146', '2022']
Row 123 has 7 columns: ['Burkina Faso', '21,902', '2024', '20,325', '2023', '19,176', '2022']
Row 124 has 7 columns: ['Lebanon', '21,780', '2022', '17,937', '2023', '39,303', '2022']
Row 125 has 7 columns: ['Mali', '21,662', '2024', '20,905', '2023', '18,827', '2022']
Row 126 has 7 columns: ['Botswana', '21,418', '2024', '19,396', '2023', '20,352', '2022']
Row 127 has 7 columns: ['Benin', '21,371', '2024', '19,673', '2023', '17,396', '2022']
Row 128 has 7 columns: ['Guyana', '21,178', '2024', '16,786', '2023', '14,718', '2022']
Row 129 has 7 columns: ['Gabon', '21,013', '2024', '20,516', '2023', '20,132', '2022']
Row 130 has 7 columns: ['Jamaica', '20,098', '2024', '19,423', '2023', '17,097', '2022']
Row 131 has 7 columns: ['Nicaragua', '18,829', '2024', '17,829', '2023', '15,671', '2022']
Row 132 has 7 columns: ['Niger', '18,816', '2024', '16,819', '2023', '15,414', '2022']
Row 133 has 7 columns: ['Chad', '18,697', '2024', '13,149', '2023', '16,799', '2022']
Row 134 has 7 columns: ['Palestine', '18,602', '[n 12]2023', '17,396', '[n 12]2023', '19,111', '[n 13]2022']
Row 135 has 7 columns: ['Moldova', '18,356', '[n 14]2024', '16,539', '[n 14]2023', '14,510', '[n 14]2022']
Row 136 has 6 columns: ['Yemen', '16,940', '2024', '—', '11,007', '2022']
Row 137 has 7 columns: ['Madagascar', '16,465', '2024', '16,032', '2023', '14,954', '2022']
Row 138 has 7 columns: ['Mauritius', '16,359', '2024', '14,397', '2023', '12,898', '2022']
Row 139 has 7 columns: ['North Macedonia', '15,873', '2024', '14,761', '2023', '13,711', '2022']
Row 140 has 7 columns: ['Brunei', '15,510', '2024', '15,128', '2023', '16,681', '2022']
Row 141 has 7 columns: ['Congo', '15,501', '2024', '15,321', '2023', '15,344', '2022']
Row 142 has 7 columns: ['Laos', '15,190', '2024', '15,843', '2023', '15,362', '2022']
Row 143 has 5 columns: ['North Korea', '—', '—', '15,176', '2022']
Row 144 has 7 columns: ['Afghanistan', '14,467', '2022', '14,502', '2022', '14,174', '2022']
Row 145 has 7 columns: ['Bahamas', '14,390', '2024', '14,339', '2023', '12,897', '2022']
Row 146 has 7 columns: ['Rwanda', '13,701', '2024', '14,098', '2023', '13,312', '2022']
Row 147 has 7 columns: ['Kyrgyzstan', '13,599', '2024', '13,988', '2023', '10,930', '2022']
Row 148 has 7 columns: ['Tajikistan', '12,953', '2024', '12,061', '2023', '10,492', '2022']
Row 149 has 7 columns: ['Somalia', '12,804', '2024', '11,680', '2023', '10,420', '2022']
Row 150 has 7 columns: ['Namibia', '12,765', '2024', '12,351', '2023', '12,607', '2022']
Row 151 has 7 columns: ['Kosovo', '11,318', '2024', '10,438', '2023', '9,397', '2022']
Row 152 has 7 columns: ['Malawi', '11,241', '2024', '14,084', '2023', '12,558', '2022']
Row 153 has 7 columns: ['Equatorial Guinea', '10,708', '2024', '12,117', '2023', '11,767', '2022']
Row 154 has 7 columns: ['Mauritania', '10,628', '2024', '10,453', '2023', '10,997', '2022']
Row 155 has 7 columns: ['Togo', '9,832', '2024', '9,171', '2023', '8,087', '2022']
Row 156 has 6 columns: ['New Caledonia', '—', '9,623', '2022', '9,623', '2022']
Row 157 has 6 columns: ['Syria', '—', '8,980', '2021', '18,595', '2022']
Row 158 has 6 columns: ['Monaco', '—', '8,784', '2022', '8,772', '2022']
Row 159 has 7 columns: ['Montenegro', '8,010', '2024', '7,405', '2023', '6,229', '2022']
Row 160 has 6 columns: ['Liechtenstein', '—', '7,365', '2022', '7,757', '2022']
Row 161 has 6 columns: ['Bermuda', '—', '7,828', '2022', '7,546', '2022']
Row 162 has 7 columns: ['Maldives', '7,199', '2024', '6,600', '2023', '6,170', '2022']
Row 163 has 7 columns: ['Barbados', '6,863', '2024', '6,394', '2023', '5,699', '2022']
Row 164 has 6 columns: ['Cayman Islands', '—', '6,601', '2022', '6,281', '2022']
Row 165 has 6 columns: ['South Sudan', '6,517', '2024', '—', '4,616', '2022']
Row 166 has 6 columns: ['French Polynesia', '—', '5,815', '2022', '5,814', '2022']
Row 167 has 7 columns: ['Fiji', '5,801', '2024', '5,495', '2023', '4,979', '2022']
Row 168 has 7 columns: ['Eswatini', '5,085', '2024', '4,598', '2023', '4,326', '2022']
Row 169 has 7 columns: ['Liberia', '4,754', '2024', '4,332', '2023', '3,265', '2022']
Row 170 has 7 columns: ['Sierra Leone', '4,558', '2024', '3,810', '2023', '3,481', '2022']
Row 171 has 7 columns: ['Djibouti', '4,364', '2024', '4,099', '2023', '4,003', '2022']
Row 172 has 7 columns: ['Suriname', '4,337', '2024', '3,782', '2023', '3,620', '2022']
Row 173 has 7 columns: ['Aruba', '4,069', '2024', '3,545', '2022', '3,544', '2022']
Row 174 has 7 columns: ['Andorra', '3,897', '2024', '3,728', '2023', '3,376', '2022']
Row 175 has 7 columns: ['Belize', '3,296', '2024', '3,282', '2023', '2,830', '2022']
Row 176 has 6 columns: ['Greenland', '—', '3,236', '2021', '2,926', '2022']
Row 177 has 7 columns: ['Bhutan', '3,110', '2024', '2,898', '2022', '2,898', '2022']
Row 178 has 6 columns: ['Curaçao', '—', '3,074', '2022', '3,075', '2022']
Row 179 has 7 columns: ['Burundi', '3,075', '2024', '2,642', '2023', '4,032', '2022']
Row 180 has 7 columns: ['Central African Republic', '2,810', '2024', '2,555', '2023', '2,395', '2022']
Row 181 has 7 columns: ['Cape Verde', '2,718', '2024', '2,587', '2023', '2,314', '2022']
Row 182 has 7 columns: ['Gambia', '2,694', '2024', '2,340', '2023', '2,231', '2022']
Row 183 has 7 columns: ['Saint Lucia', '2,582', '2024', '2,520', '2023', '2,165', '2022']
Row 184 has 7 columns: ['Lesotho', '2,395', '2024', '2,046', '2023', '2,287', '2022']
Row 185 has 5 columns: ['Eritrea', '—', '—', '2,383', '2022']
Row 186 has 5 columns: ['Zanzibar', '—', '—', '2,361', '2022']
Row 187 has 7 columns: ['Seychelles', '2,203', '2024', '2,141', '2023', '1,994', '2022']
Row 188 has 7 columns: ['Guinea-Bissau', '2,151', '2024', '1,966', '2023', '1,574', '2022']
Row 189 has 7 columns: ['Antigua and Barbuda', '2,127', '2024', '2,033', '2023', '1,770', '2022']
Row 190 has 7 columns: ['San Marino', '2,033', '2024', '1,855', '2021', '1,780', '2022']
Row 191 has 7 columns: ['East Timor', '1,992', '2024', '2,243', '2023', '3,204', '2022']
Row 192 has 7 columns: ['Solomon Islands', '1,707', '2024', '1,631', '2023', '1,597', '2022']
Row 193 has 6 columns: ['Sint Maarten', '—', '1,623', '2023', '1,572', '2022']
Row 194 has 7 columns: ['Comoros', '1,422', '2024', '1,352', '2023', '1,246', '2022']
Row 195 has 7 columns: ['Grenada', '1,406', '2024', '1,320', '2023', '1,192', '2022']
Row 196 has 7 columns: ['Vanuatu', '1,289', '2024', '1,126', '2023', '985', '2022']
Row 197 has 6 columns: ['Turks and Caicos Islands', '—', '1,402', '2023', '1,138', '2022']
Row 198 has 7 columns: ['Saint Kitts and Nevis', '1,134', '2024', '1,077', '2023', '979', '2022']
Row 199 has 7 columns: ['Saint Vincent and the Grenadines', '1,128', '2024', '1,066', '2023', '946', '2022']
Row 200 has 7 columns: ['Samoa', '1,024', '2024', '934', '2023', '857', '2022']
Row 201 has 7 columns: ['São Tomé and Príncipe', '751', '2024', '603', '2023', '546', '2022']
Row 202 has 7 columns: ['Dominica', '708', '2024', '654', '2023', '612', '2022']
Row 203 has 7 columns: ['Tonga', '581', '2024', '500', '2022', '488', '2022']
Row 204 has 7 columns: ['Micronesia', '484', '2024', '460', '2023', '427', '2022']
Row 205 has 7 columns: ['Kiribati', '311', '2024', '279', '2023', '223', '2022']
Row 206 has 7 columns: ['Palau', '308', '2024', '263', '2023', '225', '2022']
Row 207 has 7 columns: ['Marshall Islands', '305', '2024', '284', '2023', '279', '2022']
Row 208 has 7 columns: ['Nauru', '161', '2024', '154', '2023', '147', '2022']
Row 209 has 7 columns: ['Tuvalu', '66', '2024', '62', '2023', '59', '2022']
First 10 rows of the data:
             Rank Country/Territory IMF Forecast     IMF Year  \
0           World       109,529,216         2024  105,435,540
1   United States        28,781,083         2024   27,360,935
2           China        18,532,633    [n 1]2024   17,794,782
3         Germany         4,591,100         2024    4,456,081
4           Japan         4,110,452         2024    4,212,945
5           India         3,937,011         2024    3,549,919
6  United Kingdom         3,495,261         2024    3,340,032
7          France         3,130,014         2024    3,030,904
8          Brazil         2,331,391         2024    2,173,666
9           Italy         2,328,028         2024    2,254,851

  World Bank Estimate World Bank Year United Nations Estimate
0                2023     100,834,796                    2022
1                2023      25,744,100                    2022
2           [n 3]2023      17,963,170               [n 1]2022